/* The background image of Banner gets doubled, it should fill the whole width
the image of glasses is too big
the product image captions don't get aligned
*/

html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

/* Header */
header {
  display: flex;
  background-color: black;
  justify-content: center;
}

.container {
  width: 960px;
  display: flex;
}


.space-between {
  justify-content: space-between;
}

.logo {
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  padding-left: 0.5rem;
  height: 1.5rem;
}

.logo span {
  font-size: 1rem;
  padding: 0.66rem 1rem;
}

/* Banner */
.banner {
  display: flex;
  background-image: url("../images/moto.jpeg");
  height: 25rem; /* Banner */
  justify-content: center;
}

.new_arrival {
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  padding: 2rem 3rem;
  font-size: 1rem;
  font-weight: bold;
}

p#arrivals_subheader {
  font-size: 2rem;
  padding-top: 0.25rem;
}

/* Menu' Bar */
nav {
  display: flex;
  background-color: firebrick;
  justify-content: center;
}

.navigation_bar {
  align-items: center;
  padding: 0.75rem;
}

/* Product images !!! IMAGES CAPTION NOT ALIGNED !!! GLASSES PICTURE OVERSIZED !!! */
.products {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.product_slot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 4px solid black;
  width: 30%;
}

.product_image {
  padding: 2rem;
}

.product_image img {
  height: 9rem;
  width: auto;
}

.product_slot_text {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.product_slot_text p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  width: 100%;
}

/* Location and Hours */
.location_hours {
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
}

.location_hours_header {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.location_hours_subheader {
  padding: 1rem 2rem;
  background-color: black;
}
