/* The background image of Banner gets doubled, it should fill the whole width
the image of glasses is too big
the product image captions don't get aligned
CHECK THE MEDIA when it says max 1024 pixel, should i use reolution dpi??
the image of the motorbike doesn't fill the whole screen
*/

html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

/* Header */
header {
  display: flex;
  background-color: black;
  justify-content: center;
}

.container {
  width: 960px;
  display: flex;
}


.space-between {
  justify-content: space-between;
}

.logo {
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  padding-left: 0.5rem;
  height: 1.5rem;
}

.logo span {
  font-size: 1rem;
  padding: 0.66rem 1rem;
}

/* Banner */
.banner {
  display: flex;
  background-image: url("../images/moto.jpeg");
  height: 25rem; /* Banner */
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;   /* IT SHOULDN'T REPEAT BUT STILL FILL THE WHOLE WIDTH  */
}

.new_arrival {
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  padding: 2rem 3rem;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 470px) {
  .new_arrival {
    padding-top: 1rem;
    padding-left: 2rem;

  }



  .new_arrival p {
    font-size: 0.77rem;
    font-weight: bold;
  }

  #arrivals_subheader {
    font-size: 1px;
    font-weight: bold;
  }

}

p#arrivals_subheader {
  font-size: 2rem;
  padding-top: 0.25rem;
}

/* Menu' Bar */
nav {
  display: flex;
  background-color: firebrick;
  justify-content: center;
}

.navigation_bar {
  align-items: center;
  padding: 0.75rem;
}

/* Product images !!! IMAGES CAPTION NOT ALIGNED !!! GLASSES PICTURE OVERSIZED !!! */
.main_body {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
}

.main_container {
  width: 960px;
  display: flex;
  flex-direction: column;
}

.products {
    display: flex;
    justify-content: space-between;
}

.product_slot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 4px solid black;
  width: 30%;
}

.product_image {
  padding: 2rem;
}

.product_image img {
  height: 9rem;
  width: auto;
}

.product_slot_text {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.product_slot_text p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  width: 100%;
}

/* Location and Hours */
.location_hours {
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.location_hours_main {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  width: 35%;
}

.location_hours_header {
  padding: 1rem 2rem;
  background-color: black;
}

#black {
  color: black;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 5rem;
  align-items: center;
}

/* MEDIA */

@media only screen and (min-width: 1024px) {
  #small_screens {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .product_slot {
    width: 47%;
  }

  .location_hours_main {
    width: 35%;
  }

  #thermal_glasses {
    display: none;
  }

  #small_screens .navigation_bar {
    justify-content: center;
}

  #big_screens {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  #cellular_watch {
    display: none;
  }

  .product_slot {
    width: 90%;
  }

  footer p {
    text-align: center;
  }

  .location_hours_main {
    width: 90%;
  }
}
